nav.navbar(class="{{route}}-route")
	ul
		li
			a.navbar-item.navbar-logo(href="/#")
				| nom
				br
				| nom
		li
			a(href="/#slide/test/1").navbar-item.nav-slide
				i.fa.fa-search
		li
			a(href="/#stats/test").navbar-item.nav-stats
				i.fa.fa-bar-chart